{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-toggleable-md navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- box header -->
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="https://www.coreatcu.com/">
        <img class="hidden-xs" src="static/img/logo.png" width="80" alt="">
        <img class="visible-xs" src="static/img/logo.png" width="80" alt="">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
      <li><a href="#Stats" class="page-scroll">
        <span class="box-menu-text">Stats</span></a>
      </li>
      <li><a href="#Events" class="page-scroll">
        <span class="box-menu-text">Events</span></a>
      </li>
      <li><a href="#Partners" class="page-scroll">
        <span class="box-menu-text">Partners</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid cover-photo">
  <!-- box-intro -->
  <section class="box-intro">
    <div class="table-cell">
      <h1 class="box-headline letters rotate-2 text-light">
        <span class="box-words-wrapper text-light">
          <b class="is-visible">Inspection</b>
          <b>Engagement</b>
          <b>Innovation</b>
        </span>
      </h1>
      <h3 style="color: #ffffff">CORE Annual Report 2017</h3>
      <a href="http://coreatcu.wufoo.com/forms/core-newsletter-signup/">
        <button type="button" class="btn btn-success btn-lg subscribe-button">Subscribe</button>
      </a>
      <br><br>
      <a href="#Stats" class="page-scroll btn"><i class="fa fa fa-chevron-down fa-2x" style="color: #fff;"></i></a>
    </div>
  </section>
  <!-- end box-intro -->
</div>

<div class="container main-container text-center" id="Stats">
  <div class="clearfix">

    <!-- CORE STATS -->
    <h1>Stats</h1>
    <br><br>
    <div class="row text-center">
      <div class="col-md-3">
        <a href="http://coreatcu.wufoo.com/forms/core-newsletter-signup/">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <h4 class="service-heading">Newsletter</h4>
        <p class="text-muted">+3,700 New Subscribers</p>
      </div>
      <div class="col-md-3">
        <a href="https://www.facebook.com/COREatCU/">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-facebook-square fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <h4 class="service-heading">Facebook</h4>
        <p class="text-muted">+450 Likes</p>
      </div>
      <div class="col-md-3">
        <a href="https://twitter.com/columbiaentrep">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-twitter-square fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <h4 class="service-heading">Twitter</h4>
        <p class="text-muted">+250 Followers</p>
      </div>
      <div class="col-md-3">
        <a href="http://www.coreatcu.com/team">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-users fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Team</h4>
        </a>
        <p class="text-muted">+34 Members</p>
      </div>
    </div>

    <br><br><br>
    <!-- IMPULSE STATS -->
    <div class="row text-center">
      <a href="http://impulse.coreatcu.com/">
        <img src="static/img/impulse-logo.jpg" width="200">
      </a>
    </div>

    <br><br>
    <div class="row text-center">
      <div class="col-md-3">
        <a href="http://impulse.coreatcu.com/">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <h4 class="service-heading">Newsletter</h4>
        <p class="text-muted">+2,500 New Subscribers</p>
      </div>
      <div class="col-md-3">
        <a href="https://www.facebook.com/impulsecore/">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-facebook-square fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <h4 class="service-heading">Facebook</h4>
        <p class="text-muted">+230 Likes</p>
      </div>
      <div class="col-md-3">
        <a href="https://twitter.com/coreimpulse">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-twitter-square fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <h4 class="service-heading">Twitter</h4>
        <p class="text-muted">+40 Followers</p>
      </div>
      <div class="col-md-3">
        <a href="https://impulse.coreatcu.com/about">
        <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-users fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <h4 class="service-heading">Team</h4>
        <p class="text-muted">+12 Members</p>
      </div>
    </div>
  </div>
</div>

<div class="container main-container text-center" id="Events">
  <h1>Events</h1>
</div>

<!-- portfolio div -->
<div class="portfolio-div">
  <div class="portfolio">
    <div class="no-padding portfolio_container">

      <!-- single work -->
      <div class="col-md-3 col-sm-6  fashion logo">
        <a href="{{ url_for('events', event_name='barcelona') }}" class="portfolio_item">
          <img src="static/img/home_img_panel/barcelona.jpg" alt="image" class="img-responsive" />
          <div class="portfolio_item_hover">
            <div class="portfolio-border clearfix">
              <div class="item_info">
                <span>Barcelona Tech Trek</span>
                <em>Learn More</em>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- end single work -->

      <!-- single work -->
      <div class="col-md-3 col-sm-6 ads graphics">
        <a href="{{ url_for('events', event_name='almaworks') }}" class="portfolio_item">
          <img src="static/img/home_img_panel/almaworks.jpg" alt="image" class="img-responsive" />
          <div class="portfolio_item_hover">
            <div class="portfolio-border clearfix">
              <div class="item_info">
                <span>Almaworks</span>
                <em>Learn More</em>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- end single work -->

      <!-- single work -->
      <div class="col-md-6 col-sm-12 photography">
        <a href="{{ url_for('events', event_name='khaled-huffington') }}" class="portfolio_item">
          <img src="static/img/home_img_panel/khaled_huffington.jpg" alt="image" class="img-responsive" />
          <div class="portfolio_item_hover">
            <div class="portfolio-border clearfix">
              <div class="item_info">
                <span>DJ Khaled + Arianna Huffington</span>
                <em>Learn More</em>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- end single work -->

      <!-- single work -->
      <div class="col-md-3 col-sm-6 fashion ads">
        <a href="{{ url_for('events', event_name='socratic') }}" class="portfolio_item">
          <img src="static/img/home_img_panel/socratic.jpg" alt="image" class="img-responsive" />
          <div class="portfolio_item_hover">
            <div class="portfolio-border clearfix">
              <div class="item_info">
                <span>Socratic Circles</span>
                <em>Learn More</em>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- end single work -->

      <!-- single work -->
      <div class="col-md-3 col-sm-6 graphics ads">
        <a href="{{ url_for('events', event_name='panel') }}" class="portfolio_item">
          <img src="static/img/home_img_panel/panel.jpg" alt="image" class="img-responsive" />
          <div class="portfolio_item_hover">
            <div class="portfolio-border clearfix">
              <div class="item_info">
                <span>Plethora of Panels</span>
                <em>Learn More</em>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- end single work -->

      <!-- single work -->
      <div class="col-md-6 col-sm-12 photography">
        <a href="{{ url_for('events', event_name='startup-columbia') }}" class="portfolio_item">
          <img src="static/img/home_img_panel/sc.jpg" alt="image" class="img-responsive" />
          <div class="portfolio_item_hover">
            <div class="portfolio-border clearfix">
              <div class="item_info">
                <span>Startup Columbia</span>
                <em>Learn More</em>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- end single work -->

      <!-- single work -->
      <div class="col-md-3 col-sm-6 graphics ads">
        <a href="{{ url_for('events', event_name='impulse') }}" class="portfolio_item">
          <img src="static/img/home_img_panel/impulse.jpg" alt="image" class="img-responsive" />
          <div class="portfolio_item_hover">
            <div class="portfolio-border clearfix">
              <div class="item_info">
                <span>Best of Impulse</span>
                <em>Learn More</em>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- end single work -->

      <!-- single work -->
      <div class="col-md-3 col-sm-6 graphics ads">
        <a href="{{ url_for('events', event_name='boston') }}" class="portfolio_item">
          <img src="static/img/home_img_panel/boston.jpg" alt="image" class="img-responsive" />
          <div class="portfolio_item_hover">
            <div class="portfolio-border clearfix">
              <div class="item_info">
                <span>Boston Tech Trek</span>
                <em>Learn More</em>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- end single work -->

      <!-- single work -->
      <div class="col-md-3 col-sm-6 graphics ads">
        <a href="{{ url_for('events', event_name='berlin') }}" class="portfolio_item">
          <img src="static/img/home_img_panel/berlin.jpg" alt="image" class="img-responsive" />
          <div class="portfolio_item_hover">
            <div class="portfolio-border clearfix">
              <div class="item_info">
                <span>Berlin Tech Trek</span>
                <em>Learn More</em>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- end single work -->

      <!-- single work -->
      <div class="col-md-3 col-sm-6 graphics ads">
        <a href="{{ url_for('events', event_name='eve') }}" class="portfolio_item">
          <img src="static/img/home_img_panel/eve.jpg" alt="image" class="img-responsive" />
          <div class="portfolio_item_hover">
            <div class="portfolio-border clearfix">
              <div class="item_info">
                <span>EVE</span>
                <em>Learn More</em>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!-- end single work -->
    </div>
    <!-- end portfolio_container -->
  </div>
  <!-- portfolio -->
</div>
<!-- end portfolio div -->

<!-- Partner Logos -->
<section class="container main-container text-center" id="Partners">
  <aside class="Partners">
    <div class="container" style="text-align: center">
      <div class = "row">
        <div class = "col-md text-center">
          <h3>Thanks to all of the people who helped us this year!</h3>
        </div>
      </div>

      <br><br><br>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="https://www8.gsb.columbia.edu/entrepreneurship/">
            <img src="https://pbs.twimg.com/profile_images/95335309/twitter-lang2.jpg" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="http://www.techstars.com/">
            <img src="https://pbs.twimg.com/profile_images/879467373060775936/3EewJx7o_400x400.jpg" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="https://www.careereducation.columbia.edu/">
            <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-9/1010422_10151626527482706_1058923565_n.jpg?oh=0c0eb6b0c7d6d4c5081a6ca192dd2752&oe=599D277F" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="https://www.rescue.org/">
            <img src="https://pbs.twimg.com/profile_images/875444427195465728/Mmp5Lyps_400x400.jpg" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
      </div>

      <br><br>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="https://www.good.is/">
            <img src="https://pbs.twimg.com/profile_images/839881982574108672/qN7BVlr4_400x400.jpg" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="http://www.axelspringerplugandplay.com/">
            <img src="https://pbs.twimg.com/profile_images/3394466502/48e4b5af40994dcf52cc369b521ee974.jpeg" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="http://www.glossy.co/">
            <img src="https://pbs.twimg.com/profile_images/720305313111478276/xH3R5ygc_400x400.jpg" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="https://www.getyourguide.com/">
            <img src="https://pbs.twimg.com/profile_images/3699015507/d03567caee5f2b9165e8b3882bc03e3c_400x400.png" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
      </div>

      <br><br>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="https://betaworks.com/">
            <img src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-9/14317510_1473925969291674_7839984780436653347_n.png?oh=e9a39bed2304d0c7e2ab66ccebb010d6&oe=59E8EFC4" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="http://matter.vc/">
            <img src="https://pbs.twimg.com/profile_images/2922108818/2ce73553b6dc1c1dad2b4e3fa4da3b9b_400x400.jpeg" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="https://www.wework.com/">
            <img src="https://pbs.twimg.com/profile_images/786644601318801408/CGg8-qLD_400x400.jpg" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="https://techatnyu.org/">
            <img src="https://pbs.twimg.com/profile_images/671891049166585857/ZLO7vFjT_400x400.jpg" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
      </div>

      <br><br>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="https://www.spotify.com/us/">
            <img src="https://pbs.twimg.com/profile_images/558399727218077697/SXUR1n3k_400x400.png" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="https://delight-vr.com/">
            <img src="https://pbs.twimg.com/profile_images/729677096667222016/y0KmvLCr.jpg" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="http://techventures.columbia.edu/">
            <img src="https://pbs.twimg.com/profile_images/477164357713809409/8xxdw_i-_400x400.png" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="https://www.college.columbia.edu/alumni/">
            <img src="https://pbs.twimg.com/profile_images/877164958533996545/-71PJ6Iw_400x400.jpg" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
      </div>

      <br><br>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="https://www.college.columbia.edu/">
            <img src="https://pbs.twimg.com/profile_images/378800000642050417/3be1d97a0a37d68ada96b775486b5fab.png" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="http://www8.gsb.columbia.edu/socialenterprise/">
            <img src="https://pbs.twimg.com/profile_images/420701201/twitter-sep.jpg" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="https://www.kantox.com/en/">
            <img src="https://pbs.twimg.com/profile_images/885117748732469249/ygpf4F0o_400x400.jpg" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="http://www.google.com/">
            <img src="https://pbs.twimg.com/profile_images/839721704163155970/LI_TRk1z_400x400.jpg" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
      </div>

      <br><br>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="https://gs.columbia.edu/">
            <img src="https://pbs.twimg.com/profile_images/879711999076311042/eeey3tnl_400x400.jpg" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="http://www1.nyc.gov/">
            <img src="http://newyorkcityentrepreneurs.com/wp-content/uploads/2013/11/NYC-logo.png" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="http://wide-eyes.it/">
            <img src="https://pbs.twimg.com/profile_images/568724196155351040/GxW1u2Qa_400x400.png" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="http://harvardventures.org/">
            <img src="https://pbs.twimg.com/profile_images/572534527516356608/oUU09wfH_400x400.png" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
      </div>

      <br><br>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="http://caixacapital.pt/en/">
            <img src="https://pbs.twimg.com/profile_images/751363452199923712/LKOKUVbb_400x400.jpg" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="http://www.patientping.com/">
            <img src="https://pbs.twimg.com/profile_images/535898679953997825/4YG9HWpx_400x400.png" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="http://www.wnyc.org/">
            <img src="https://pbs.twimg.com/profile_images/378800000025533373/1accccc2a12c816bb066dc2d2c15a453_400x400.png" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="https://www.dearest.io/">
            <img src="https://pbs.twimg.com/profile_images/883004612533379072/V-jdJJ6o_400x400.jpg" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
      </div>

      <br><br>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="http://generalcatalyst.com/">
            <img src="https://pbs.twimg.com/profile_images/828601319082569728/SwjBKZth_400x400.jpg" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="http://www.livelikevr.com/">
            <img src="https://pbs.twimg.com/profile_images/714849021815361537/iJmgYa2f_400x400.jpg" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="http://factoryberlin.com/">
            <img src="https://pbs.twimg.com/profile_images/615544114562617344/j7468z3T.png" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="https://www.dots.co/">
            <img src="https://pbs.twimg.com/profile_images/764111262854832128/jdvE37YP_400x400.jpg" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
      </div>

      <br><br>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="https://www.marfeel.com/">
            <img src="https://pbs.twimg.com/profile_images/557514399200468992/Gcas-Ovo_400x400.png" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="http://www.kpcb.com/">
            <img src="https://pbs.twimg.com/profile_images/615586435521843200/gyYfKiks_400x400.png" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="https://engineering.columbia.edu/">
            <img src="https://pbs.twimg.com/profile_images/378800000498156243/40d6e585d2d94800ddc1f6bc4d67c639.png" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="http://columbiaentrepreneurs.org/">
            <img src="https://pbs.twimg.com/profile_images/767865129925013504/UcCAo0Gs_400x400.jpg" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
      </div>

      <br><br>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="https://republic.co/">
            <img src="https://pbs.twimg.com/profile_images/748636713895895044/uPHpOnPj_400x400.jpg" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="https://www.barnard.edu/">
            <img src="https://pbs.twimg.com/profile_images/875376973098487808/sJ6hgYoH_400x400.jpg" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="https://www.quantopian.com/">
            <img src="https://pbs.twimg.com/profile_images/875810914154369025/DXbh_xvW_400x400.jpg" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="http://futurelabs.nyc/">
            <img src="https://pbs.twimg.com/profile_images/758427355920621568/8ouHUoFi_400x400.jpg" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
      </div>

      <br><br>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="http://firstround.com/">
            <img src="https://pbs.twimg.com/profile_images/683854278427947008/ChmMBzSL_400x400.jpg" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="https://www.fundera.com/">
            <img src="https://pbs.twimg.com/profile_images/725773493321736193/55Nn7G-M_400x400.jpg" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="http://startup.mit.edu/">
            <img src="https://pbs.twimg.com/profile_images/829766056252145664/HA2-Zpcu_400x400.jpg" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="https://www.northeastern.edu/idea/">
            <img src="https://pbs.twimg.com/profile_images/660172270581751808/tKmwgwOx_400x400.png" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
      </div>

      <br><br>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="https://www.wanup.com/en/">
            <img src="https://pbs.twimg.com/profile_images/771659806578880513/kLuhoip3_400x400.jpg" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="https://mailtrack.io/en/">
            <img src="https://pbs.twimg.com/profile_images/772742377077440512/LVqHQg0O_400x400.jpg" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="https://adicu.com/">
            <img src="https://pbs.twimg.com/profile_images/691462818856591360/X9NaWcgf_400x400.png" class="img-responsive img-centered" width="140" alt="">
          </a>
        </div>
      </div>
      
    </div>
  </aside>
</section>

{% endblock %}